@model Recrute.Models.User

@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AfterLogin</h2>

@if (Session["LogedUserFirstname"] != null && Session["LogedUserName"]!= null)
{
 <text>
  Welcome @Session["LogedUserFirstname"].ToString()  @Session["LogedUserName"].ToString()
 </text>
}