@{
    ViewBag.Title = "Accueil";
    ViewBag.Message = "Bienvenue dans notre Platforme"; 
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <!--
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
                    -->
            </p>
        </div>
    </div>
    }


<p>TELNET est un groupe de sociétés tunisien spécialisé dans le conseil dans l'innovation et les hautes technologies.
Crée en 1994, TELNET est rapidement devenu leader dans son cœur de métier à l’échelle nationale. 
TELNET a cherché depuis sa création à élargir ses champs de compétences afin de proposer à ses clients des prestations de qualité et diversifiées selon les spécifications demandées.
Dans un souci de proximité de ses clients, TELNET opère selon un modèle Front office / back office, elle propose essentiellement des prestations d’ingénierie en Offshore pour et en Nearshore pour le compte des plus grands groupes internationaux.
TELNET est considérée comme un acteur majeur dans le domaine des hautes technologies et occupe un positionnement de plus en plus important à l’échelle régionale.
TELNET développe une expertise métier notamment dans le développement de Systèmes Intégrés, le design Électronique et Microélectronique ainsi que dans l’Ingénierie Mécanique.</p>
<br />
